.App {
  overflow-y: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #335936;
  overflow: hidden;
}

.toppad{
padding-top: 5vh;
box-sizing: ;
}


.AppHeaderLayout {
  flex-direction: row;
  background-color: #335936;
}

.App-header {
  background-color: #335936;
  height: 7.5vh;
  text-align: left;
  position:absolute;
  top: 0vw;

  right: 0vw;
  left: 0vw;
  z-index: 10;
  display: flex;
  padding-right: 30%;
}





.LI-logo {
  max-height: 5vh;
  border-left-style:hidden;
  margin-inline-start: auto;
  padding: 0.25vh;
  margin-top: 1vh;
  cursor: pointer;
  margin-left: auto;
  transition-duration: .5s;
  border-color:#bbe1c0;

}
.LI-logo:hover {
  border-left: 0;
  border-right: 0;
  border-style:ridge;
}

.logo-{
justify-content: center;
height: 5vh;
padding: 1vh;
}

.resume-logo {
  max-height: 5vh;
  border-left-style:hidden;
  border-radius: 30%;
  padding: 0.25vh;
  margin-top: 1vh;
  cursor: pointer;
  margin-left: auto;
  transition-duration: .2s;
  border-radius: 0%;
  border-color:#bbe1c0;
}
.resume-logo:hover {
  /* transform: scale(1.1); */
  border-left: 0;
  border-right: 0;
  border-style:ridge;

}


.gitHub-logo {
  max-height: 5vh;
  border-left-style:hidden;
  padding: 0.25vh;
  margin-top: 1vh;
  cursor: pointer;
  margin-left: auto;
  transition-duration: .5s;
  border-color:#bbe1c0;
}

.gitHub-logo:hover {
  border-left: 0;
  border-right: 0;
  border-style:ridge;
}


.App-link {
  color: #61fb78;
}

.App-Main{
background-image: url("JaceLanderBGPhoto.png");
background-color: #bbe1c0;
padding: 5vh;
display: grid;
align-items: space;
grid-template-columns: 2fr 1fr ;
justify-content:space-evenly;
background-position: center;
vertical-align: center;

}

.bgtint
{
  background-color:  #bbe1c0;;
  background-blend-mode:screen;
}

.App-Main-Bottom{
  background-color: #bbe1c0;
  min-height: 10vh;
  container-type:flex;
  display: flex;
  justify-content:center;
  flex-direction: column;
  transition: 0.3s;
  }



.element-text{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
max-width: 50vh;
min-height: 40vh;
text-align: center;
border-color:#335936;
font-size: xx-large;
}

.element-pic{
  container-type: column;
  justify-content: right;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  min-width: 50vh;
  min-height: 50vh;
  width: 50vh;
  max-height: 50vh;
  border-color:#335936;
  font-size: larger;
  border-radius: 50%;
  overflow: hidden;
  align-content: center;
  transition-duration: 0.5s;
  }



.reach-out-button{
  background-color: #bbe1c0; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(96, 96, 96);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 20vw;
  height: 10vw;
  cursor: pointer;
  transition-duration: .5s;
  max-height: 6vh;
  margin: auto;
  }
  
  .reach-out-button:hover{
    transform: scale(1.2);
    background-color:#335936; 
    color:#bbe1c0;
    }

    .reach-out-button:active{
      transform: scale(1.3);
      }

      