.projects-container{
    width: calc(100px + 40vw);
    height: auto;
    padding-top: 1vw;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 0 0 10px 10px;
  }

  .projects-buttons{
    margin: auto;
    display: flex;
    width: calc(80px + 40vw);
    align-self: center;
    border-radius: 10px;
    height: 30px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .5);
  }


  .projects-seperator{
    border-bottom: rgba(0, 0, 0, .25);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: ridge;
    height:10px;
  }

.project-button{
    min-width:10vw;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.project-button:hover{
    background-color: rgba(0, 0, 0, .5);
}

.project-button.selected{
    background-color:rgb(156, 156, 156);
}

.visitSite{
  width: calc(75px + 2vw);
  align-self: center;
  margin: 1vw;
  cursor:pointer;
  border: none;
  height: calc(15px + 1vw);
  border-radius: 1vw;
  color:black;
}

.desc-text{
  font-size: calc(15px + .25vw);
}

.project-preview{
    height:0px;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    opacity: 0;
    overflow: hidden;
}

.project-image{
  height: 30vw;
  align-self: center;
}

.project-preview.toggled{
    opacity: 1;
    height: auto;
}